@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
    color: lightgrey;
    font-family: "Dosis", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 35%;
    background-color: darkslateblue;
    padding: 2%;
    margin: 2%;
    box-shadow: 10px 10px 25px 0px rgba(166,166,166,1);
}

img {
    text-align: center;
}